@{
    ViewBag.Title = "Home Page";
}

<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
<li>@Html.ActionLink("Produto", "ConIndextact", "Produto")</li>